* {
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: min-content(300px, 80%);
  border: 1px solid teal;
  padding: 0px 50px 25px 50px;
  border-radius: 40px;
  background: #fff;
}

.selects {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.inputs {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}
.btn {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  padding: 7px 17px;
  border-radius: 7px;
  border: 1.5px solid teal;
  background: #fff;
  color: teal;
  transition: all 0.1s ease-in-out;
}

input {
  padding: 5px;
  border: 1px solid teal;
  color: teal;
  background: #fff;
  width: 45%;
  border-radius: 7px;
}
select {
  width: 49%;
  background: #fff;
  border: 1px solid teal;
  color: teal;
  border-radius: 7px;
  padding: 5px 5px;
}

.btn:hover {
  background: teal;
  color: #fff;
}
.title {
  padding-bottom: 25px;
  padding-top: 25px;
  color: teal;
}
